<div class="table-responsive">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">商品名</th>
        <th scope="col" class="text-end">金額</th>
        <th scope="col" class="text-end">数量</th>
        <th scope="col" class="text-end">小計</th>
      </tr>
    </thead>
    <tbody>
      <% ordered_cart_products.each do |cart_product| %>
        <tr>
          <th scope="row"><%= image_tag cart_product.product.image, class: "img-fluid", width: '70' %></th>
          <td><%= cart_product.product.name %></td>
          <td class="text-end"><%= convert_to_jpy(cart_product.product.price) %></td>
          <td class="text-end"><%= cart_product.quantity %></td>
          <td class="text-end"><%= convert_to_jpy(cart_product.subtotal) %></td>
        </tr>
      <% end %>
      <% if promotion_code %>
        <tr>
          <th scope="row" class="text-success">プロモーションコード</th>
          <td class="text-success">コード：<%= promotion_code.code %></td>
          <td class="text-end text-success">-<%= convert_to_jpy(promotion_code.discount) %></td>
          <td class="text-end text-success">1</td>
          <td class="text-end text-success">-<%= convert_to_jpy(promotion_code.discount) %></td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td class="text-end"><strong>合計金額</strong></td>
        <td class="text-end"><%= convert_to_jpy(total) %></td>
      </tr>
    </tbody>
  </table>
</div>
