<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <%= image_tag product.image %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">
          <%= link_to product.name, admin_product_path(product), class: "link-dark" %>
        </h5>
        <!-- Product price-->
        <div>
          <%= convert_to_jpy(product.price) %>
        </div>
        <!-- Product stock-->
        <div>
          在庫数<%= product.stock %>
        </div>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <%= link_to "編集", edit_admin_product_path(product), class: "btn btn-primary m-1" %>
        <%= link_to "削除", admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: "#{product.name}を削除してよろしいですか？"  }, class: "btn btn-danger m-1" %>
      </div>
    </div>
  </div>
</div>
